<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="bookService" class="edu.miu.cs.cs544.exercise11_3.BookService">
        <constructor-arg ref="suppliers"/>
    </bean>

    <util:list id="suppliers" value-type="edu.miu.cs.cs544.exercise11_3.IBookSupplier">
        <ref bean="amazon"/>
        <ref bean="barnesAndNoble"/>
        <ref bean="eBooks"/>
        <ref bean="borders"/>
    </util:list>

    <bean id="amazon" class="edu.miu.cs.cs544.exercise11_3.Amazon"/>
    <bean id="barnesAndNoble" class="edu.miu.cs.cs544.exercise11_3.BarnesAndNoble"/>
    <bean id="eBooks" class="edu.miu.cs.cs544.exercise11_3.EBooks"/>
    <bean id="borders" class="edu.miu.cs.cs544.exercise11_3.Borders"/>
</beans>