<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy/>
    <bean id="accountService" class="edu.miu.cs.cs544.exercise13_2.bank.service.AccountService">
        <constructor-arg ref="accountDAO"/>
        <constructor-arg ref="currencyConverter"/>
        <constructor-arg ref="jmsSender"/>
    </bean>

    <bean id="currencyConverter" class="edu.miu.cs.cs544.exercise13_2.bank.service.CurrencyConverter"/>
    <bean id="logger" class="edu.miu.cs.cs544.exercise13_2.bank.logging.Logger"/>

    <import resource="spring-jms-config.xml"/>
    <import resource="spring-dao-config.xml"/>
</beans>